* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  padding: 1rem 1.5rem;
  display: flex;
}
.side-left {
  flex: 1.5;
  background-color: rgba(0, 0, 0, 0.993);
  overflow-y: scroll;
}
#map {
  flex: 2.5;
  height: 100%;
}
.logo {
  width: 16rem;
  height: 9rem;
  display: flex;
  margin: 0 auto;
}
.form-row--hidden {
  display: none;
}
/* .form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  place-items: center;
  background-color: rgba(255, 255, 255, 0.233);
  padding: 1rem 0;
  margin: 0 2rem;
  border-radius: 1rem;
  justify-items: baseline;
  padding-left: 0.5rem;
}
.dis-value {
  color: azure;
}

.btn {
  display: none;
}

.form-input {
  width: 5rem;
}
.form_label {
  font-size: 1rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.774);
} */
.form {
  display: none;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
  column-gap: 1rem;

  background-color: rgba(255, 255, 255, 0.233);
  padding: 1rem 0;
  margin: 0 1.5rem;
  border-radius: 0.2rem;
  /* justify-items: baseline; */
  padding-left: 0.5rem;
}
.btn {
  display: none;
}
.form_label {
  color: azure;
  display: inline-block;
  width: 100%;
  font-weight: 500;
}
.dis-row {
  grid-column: 1/-1;
}
.distance {
  text-align: center;
  font-size: 1.5rem;
}
.form-input {
  width: 100%;
  overflow: hidden;
  padding: 0.2rem;
  border-radius: 0.2rem;
}
.form-input::placeholder {
  color: rgba(0, 0, 0, 0.493);
}
.dis-value {
  font-size: 1.5rem;
}
.workout {
  display: grid;
  /* place-items: center; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.233);
  margin: 2rem 1.5rem;
  border-radius: 0.2rem;
  padding-top: 0.2rem;
  padding-left: 0.2rem;
  padding-bottom: 0.5rem;
  position: relative;
}
.workout-detail {
  display: flex;
  gap: 0.2rem;
  color: azure;
  align-items: center;
}
.date-detail {
  color: antiquewhite;
  grid-column: 1/-1;
  padding-bottom: 0.7rem;
}
.workout--running {
  border-left: 0.2rem solid orange;
}
.workout--cycling {
  border-left: 0.2rem solid rgb(135, 235, 160);
}
.delete-btn {
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 0.1rem;
  cursor: pointer;
}
.foot {
  color: beige;
  font-size: 1rem;
}
footer {
  margin-top: auto;
  display: flex;
  gap: 0.3rem;

  position: fixed;
  bottom: 5%;
  left: 7%;
}
.logo-con {
  display: flex;
  gap: 0.3rem;
}
.linkedin-logo {
  font-size: 1.3rem;
}
.git-logo {
  font-size: 1.3rem;
}
.add {
  color: rgba(245, 245, 220, 0.733);
  position: fixed;
  bottom: 3%;
  left: 8%;
  font-size: 1rem;
}

